.bordered {
}

.sandbox {
    margin-top: 4px;
}

.bordered .sandbox {
    border:1px solid #CCC;
    padding: 4px;
}

.storybook {
    margin-bottom: 10px;
    position: relative;
}
lightning-button-menu {
    position: absolute;
    right: 0px;
    top: 0px;
}

.width-small {
    width: 30em;
}
.width-medium {
    width: 48em;
}
.width-large {
    width: 64em;
}